body {
    background: url(../img/background.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    font-variant: small-caps;
    overflow: hidden;
}

img{
    width: 40%;
}

.box_container{
    background: $white;
    box-shadow: 2px 2px 5px black, -2px -2px 5px black;
    text-align: center;
}

.boxcontainer_success{
    background: $white;
    box-shadow: 2px 2px 5px black, -2px -2px 5px black;
    text-align: center;
}



.btn-danger{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 50px;
    border-radius: 0;
    font-family: Arial, sans-serif;
    font-variant: small-caps;
}

.form-control{
    border-radius: 0rem;
    margin-top: 6%;
    font-variant: small-caps!important;
}

input{
    height: 50px;
}
#conteneurFile{
    background: $red;
}

#conteneurFile .inputFile{
    opacity : 0; /* for !IE */
    filter : alpha(opacity=0); /* for IE */
    position : absolute;
    width: 35%;
    right : 0;
    top : 0;
}
#conteneurFile .inputText{
    border : none;
    width: 76%;
    font-variant: small-caps!important;
    padding: 0.375rem 0.75rem;
    background : $white;
}

#conteneurFile span{
    color: $white;
    padding-left: 2%;
}

.row{
    margin-top: 10%;
}

.download{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

.desti-page{
    color: white;
}

.logo{
    width: 400px;
}
.waiting_text{
    margin: 20%;
    margin-top: 35%;
    font-size: 1.25vW;
}

.waiting_bar{
    margin-top: 40%;
}

#success{
    margin-top: 5%;
}

@include media-breakpoint-down(md) {
    .box_container {
        display: none;
        position: absolute;
        background: url(../img/background.jpg) no-repeat center fixed;
        background-size: cover;
        height: 200%;
        margin-top: -50%;
        box-shadow: none;
    }
    .container{
        position: relative;
    }
    
    .boxcontainer_success{
        display: block;
        position: absolute;
        background: url(../img/background.jpg) no-repeat center fixed;
        background-size: cover;
        height: 163%;
        margin-top: 0%;
        box-shadow: none;
        
    }
    a.link{
        width: 80%;
    }
    .lolgo{
        display: block;
    }
    
    .download{
        font-size: 18px;
    }

    .boxcontainer_success{
        display: block;
        position: absolute;
        background: url(../img/background.jpg) no-repeat center fixed;
        background-size: cover;
        height: 163%;
        box-shadow: none;
        margin-top: 0%;
    }
    
    .lolgo{
        display: block;
    }
    
    .download{
        font-size: 18px;
    }
    
    .btn-success{
        width: 40%;
    }
    
    .logo{
        width: 300px;
    }

    #conteneurFile .inputText{
        
        width: 65%;
        
    }    
}

